.form {
  @include flexCol;
  align-items: center;
  background-color: #15172b;
  border-radius: $radius;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: $text-color;
  gap: 30px;
  padding: 20px;
  position: relative;
  width: 100%;
  &__title {
    border-bottom: solid 2px $white;
    font-size: 2rem;
    letter-spacing: 0.2cap;
    padding-bottom: 20px;
  }
  &__content {
    @include flexCol;
    align-items: center;
    gap: 15px;
    width: 90%;
  }
  &__data {
    @include flexCol;
    gap: 0px;
    width: 100%;
    &--error {
      color: $error;
      margin-top: 5px;
    }
  }
  &__label {
    color: $white;
  }
  &__input,
  &__textarea,
  &__select {
    background-color: #303245;
    border-radius: $radius;
    border: 0;
    box-sizing: border-box;
    color: $white;
    font-size: 1rem;
    outline: 0;
    padding: 5px 10px;
    width: 100%;
  }
  &__input {
    height: 45px;
  }
  &__textarea {
    height: 200px;
  }
  &__select {
    option {
      padding: 0px;
    }
  }
  &__radios,
  &__checkboxes {
    display: flex;
    gap: 10px;
  }
  &__checkboxes {
    flex-direction: column;
    padding-left: 5px;
    padding-top: 5px;
  }
  &__message {
    &--validation {
      color: $green;
    }
    &--error {
      color: $error;
    }
  }
  @include min-media-breakpoint($breakpoint-tablet) {
    padding: 40px 50px;
  }
}
